.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    margin: 50px 0;
}
.category-title{
    width: 100%;
    margin: 10px 0;
    font-size: 40px;
    a{
        color: black;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        // add space between text
        letter-spacing: 10px;
        text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
        color: rgb(255, 255, 255);
    }
    a:hover{
        color: rgb(255, 255, 255);
        background-color: black;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    }
}
.category-title:hover{
    cursor: pointer;
    // add smooth box shadow
}